body {
    background-color: beige;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 25px;
}

button {
    padding: 15px 25px;
    border: 1px solid black;
}

.container {
    width: 960px;
    height: 960px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttons {
    margin-top: 15px;
    display: flex;
    gap: 20px;
}